@font-face {
	font-family: 'FatFrank Heavy';
	src: url('FatFrank-Heavy.eot'); /* IE9 compat */
	src:	url('FatFrank-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('FatFrank-Heavy.woff') format('woff'),	/* good browsers */
		url('FatFrank-Heavy.ttf') format('truetype');	/* safari, android, ios */
	font-style: normal;
	font-weight: 400;
}
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
body {
	font-family: sans-serif;
}
@media (min-width: 1200px) {
body {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
}
h1 {font-family: Helvetica, Sans-serif;}
.header {
	border-bottom: 0.25em solid #ff4081;
	text-decoration:none;
	display:inline;
}
.header h1 {
	font-family: 'FatFrank Heavy';
	font-size: 43px;
	font-weight: normal;
	color:#3f51b5;
	display:inline;
	text-shadow: 2px 2px 0 white, -2px 2px 0 white;
}
.header a{
	text-decoration:none;
}
code {background-color: #eee;}
pre {background-color: #eee; overflow-x: auto;}
pre .kw {color:green;}
pre .c {color:blue;}
pre .s {color:fuchsia;}
video,img {float:right;max-width:100%;}
section {clear:both;overflow: auto;}
h3,h4 {background:#eee;}
.download {color:white;background-color:green;}
dd {padding-bottom:1em;}
.time {font-style:italic;color:#aaa;}
